# URLs dos micro-frontends em desenvolvimento
# Descomente e modifique se os MFEs estiverem rodando em URLs diferentes

# VITE_MFE_LOGIN_URL=http://localhost:6281/src/spa.ts
# VITE_MFE_ADMIN_URL=http://localhost:6282/src/spa.ts
# VITE_MFE_STUDENT_URL=http://localhost:6283/src/spa.ts
# VITE_MFE_STYLE_GUIDE_URL=http://localhost:6284/src/spa.ts
